# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables (VERY IMPORTANT)
.env

# Database
users.db
*.db

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Temporary files
*.tmp
